[submodule "catppuccin-wallpapers"]
	path = catppuccin-wallpapers
	url = https://github.com/zhichaoh/catppuccin-wallpapers
[submodule "walls-catppuccin-mocha"]
	path = walls-catppuccin-mocha
	url = https://github.com/orxngc/walls-catppuccin-mocha
